#inputs {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

#divTotal {
  display: flex;
  max-width: 250px;
  justify-content: space-between;
}

.btn {
  display: none;
}

.hidden {
  display: none;
}
